In [35]:
import pandas

In [36]:
zam_praha = pandas.read_csv("zam_praha.txt")
zam_plzen = pandas.read_csv("zam_plzeň.txt")
zam_liberec = pandas.read_csv("zam_liberec.txt")

zam_praha["mesto"] = "Praha"
zam_plzen["mesto"] = "Plzeň"
zam_liberec["mesto"] = "Liberec"

zamestnanci = pandas.concat([zam_praha, zam_plzen, zam_liberec], ignore_index=True)
zamestnanci.to_csv("zamestnanci.csv", index=False)
zamestnanci.head()

      jmeno prijimeni   telefonni_cislo  cislo_zamestnance  mesto
0     Brian      Hall  +421 949 656 098                 30  Praha
1     Marta  Kolářová       730 456 163                 32  Praha
2      John   Moravec       725 092 179                 33  Praha
3  Dominika   Kopecká       722 747 626                 34  Praha
4    Marcel     Hájek  +421 902 928 669                 35  Praha

In [37]:
platy_2021_02 = pandas.read_csv("platy_2021_02.txt")
platy_2021_02.head()

   cislo_zamestnance     plat
0                  3  54900.0
1                  6  54800.0
2                  7  36400.0
3                  8  47900.0
4                 16  34200.0

In [38]:
zam_platy = pandas.merge(zamestnanci, platy_2021_02, on=["cislo_zamestnance"])
zam_platy

,jmeno,prijimeni,telefonni_cislo,cislo_zamestnance,mesto,plat
0,Brian,Hall,+421 949 656 098,30,Praha,33500.0
1,Marta,Kolářová,730 456 163,32,Praha,53000.0
2,John,Moravec,725 092 179,33,Praha,38400.0
3,Dominika,Kopecká,722 747 626,34,Praha,36800.0
4,Milada,Hernandez,773 373 704,38,Praha,32600.0
5,Catherine,Bender,604 068 460,40,Praha,32800.0
6,Olga,Němcová,+421 914 172 243,41,Praha,49300.0
7,Jeffrey,Šťastný,607 628 821,44,Praha,52000.0
8,Kamila,Říhová,+421 948 396 069,47,Praha,40700.0
9,Jaromír,Miller,+421 912 615 902,49,Praha,58400.0
10,Christopher,Zeman,+421 948 150 084,51,Praha,37100.0
11,Jeffrey,Pospíšil,+421 55 491 6940,56,Praha,39300.0
12,Ladislav,Blažek,+421 910 274 975,57,Praha,36800.0
13,William,Alexander,+421 949 106 724,63,Praha,31400.0
14,Kimberly,Bass,+421 912 169 840,64,Praha,36900.0
15,Luděk,Bartoš,+421 940 700 326,69,Praha,32600.0
16,Dillon,Black,734 300 978,70,Praha,52600.0
17,Steve,Šimek,604 966 101,74,Praha,49300.0
18,Theresa,Kučerová,+421 48 528 0081,76,Praha,55400.0
19,Marta,Butler,+421 944 196 827,78,Praha,52600.0
20,Samantha,Kadlecová,+421 904 841 543,80,Praha,57700.0
21,Stacy,Pospíšilová,727 293 880,3,Plzeň,54900.0
22,Matěj,Král,770 787 377,6,Plzeň,54800.0
23,Amanda,Wilson,+421 52 656 7231,7,Plzeň,36400.0
24,Angel,Wilson,+421 52 135 2491,8,Plzeň,47900.0
25,Radim,Kopecký,+421 917 371 226,16,Plzeň,34200.0
26,Miroslav,Reed,774 829 074,18,Plzeň,35400.0
27,Emilie,Powell,731 380 539,21,Plzeň,54200.0
28,Nikola,Wade,726 763 154,22,Plzeň,34400.0
29,Katherine,Reed,726 214 968,23,Plzeň,39000.0
30,Kayla,Urbanová,737 772 985,24,Plzeň,44200.0
31,Roman,Moreno,722 284 985,26,Plzeň,59600.0
32,Bohumila,Smith,608 121 912,27,Plzeň,45100.0
33,Blažena,Smith,+421 51 828 2591,28,Plzeň,38100.0
34,Phillip,Malý,731 594 560,29,Plzeň,48900.0
35,Nela,Šťastná,728 454 176,83,Liberec,46500.0
36,Heather,Marková,604 404 522,84,Liberec,38600.0
37,Krista,Procházková,+421 50 444 5544,85,Liberec,44200.0
38,Ladislava,Blackwell,+421 913 487 200,87,Liberec,49900.0
39,Dana,Reyes,+421 904 153 942,90,Liberec,41100.0
40,Vasyl,Veselý,603 759 413,92,Liberec,48100.0
41,Randy,Veselý,777 149 125,95,Liberec,31600.0
42,Audrey,Allen,+421 908 839 506,96,Liberec,50200.0

In [39]:
print(zam_platy.groupby("mesto")["plat"].mean())

mesto
Liberec    43775.000000
Plzeň      44792.857143
Praha      43295.238095
Name: plat, dtype: float64

In [40]:
vykazy = pandas.read_csv("vykazy.txt")
vykazy.head()

         date  hours project  emloyee_id
0  2021-02-01    2.5     F30          13
1  2021-02-01    3.4     W05          70
2  2021-02-01    2.1     JL9          72
3  2021-02-01    5.2     F30           3
4  2021-02-01    2.4     TE1          54

In [41]:
print(vykazy.groupby("project")["hours"].sum())

project
F30    21.5
JL9     2.1
TE1    16.0
W05    30.5
YLI    31.0
Name: hours, dtype: float64